/*la font utilisé */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
*{
  margin: 0;
  font-family: 'Lato', sans-serif;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
}
/* style de la background de mon jeu */
.myView{
  background:linear-gradient( 30deg,#EB4D4D, #ffeaa7);
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
 .dice-game{
  margin: auto;
  display: flex;
  z-index: 9;
  background: #dfe6e9;
  height: 95vh;
  width: 95vw;
  background-image: linear-gradient(90deg, white 50%, rgb(215, 211, 211) 50%);
  box-shadow: 0px 9px 23px rgba(0,0,0,0.2);
  
}
/* le style de mes joueurs  */
.player-1-side, .player-2-side{
  font-size: 2rem;
  padding: 100px 100px;
  width: 50vw;
  flex-direction: column;
}
.player-1-side {float: left}
.player-2-side{ float: right;}

.player-name{
  text-align: center;
}
.active .player-name { font-weight: 900; }
.active .player-name::after {
content: "\2022";
color: #EB4D4D;
position: absolute;
font-size: 50px;
top:100px;
}
 .scores{
 display: flex;
 justify-content: center;
 font-size: 2rem;
 color: #EB4D4D;
}
.current-box{
  bottom: 30px;
  width: 30%;
  background: #EB4D4D;;
  align-items: center;
  padding: 12px;
  margin:30% ;
  text-align: center;
}
.current-label{
  font-size: small; 
}
.current-score{
  color: #dfe6e9;
  font-weight: 600;
}
/* style de l'imge */
.dice{
position: absolute;
top: 37%;
left: 50%;
transform: translate(-50%, -50%);
}
.dice img{
  box-shadow: 12px 12px 10px 10px rgba(171, 92, 92, 0.2);
}
/* stylyser les boutons*/
button {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
}
.bi {
  color: #EB4D4D;
  display: inline-block;
  margin-right: 15px;
  width:25px;
  height: 25px;
  margin-top: -5px;
  transition: margin 0.3s;
}

.button-new-game { top: 45px;
}
.roll-dice { top: 350px;
}
.hold { top: 390px;
}
.button-new-game,.roll-dice,.hold{
  width: 200px;
  left: 50%;
  font-size: 1rem;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-weight: 300;             
  transition: background-color 0.3s, color 0.3s;
}
button:hover { font-weight: 600; }
button:hover .bi { margin-right: 20px; }
button:focus {
  outline: none;
}